body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

.a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    letter-spacing: 8px;
    font-size: 22px;
    font-family: 'Comfortaa';
}

h1 {
  letter-spacing: 10px;
}

h2 {
  letter-spacing: 15px;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: rgb(27, 36, 45);
}

h3 {
  letter-spacing: 1px;
  font-size: 30px;
  font-family: 'Comfortaa';
  text-align: center;
}

h4,
h5,
h6 {
    letter-spacing: 2px;
    font-size: 35px;
    text-transform: uppercase;
    font-family: helvetica;
    text-align: center;
}

hr.star-light,
hr.star-primary {
    margin: 20px auto 30px;
    padding: 0;
    max-width: 25%;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    max-width: 25%;
}

hr.star-light {
    border-color: #212121;
    text-align: center;
}

hr.star-light:after {
    color: #212121;
    background-color: #FDD200;
    max-width: 25%;

}

hr.star-primary {
    border-color: rgb(99, 92, 76);
    max-width: 25px;

}

hr.star-primary:after {
    color: #212121;
    background-color: #fff;
    max-width: 25px;
}

.img-centered {
    margin: 0 auto;
}



@media(min-width:768px) {
.header .container {
    padding-top: 400px;
    padding-bottom: 50px;
}
.header {
    font-size: 4.75em;
}
}

@media(min-width:1024px) {
.header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center 100%;
}
.header .container-fluid {
    padding-bottom:10px;
    width: 100%;
}

.hr.star-light:after {
    background-color: #F7CC01;
}
}

@media(min-width:768px) {
.navbar-fixed-top {
    background-color: rgba(0,0,0,.05);
    padding: 10px 0;
    -webkit-transition: padding .7s ease-in-out;
    -moz-transition: padding .3s ease-in-out;
    transition-delay: padding .3s ease-in-out;
}

.navbar-fixed-top .navbar-brand {
    margin-top: 10px;
    font-family: 'Comfortaa';
    font-size: 6em;
    font-weight: bolder;
    letter-spacing:-10px;
    color:#1b242d;
    background-color: rgba(198, 191, 159, .5);
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    transition-delay: all .30s ease-in-out;
}

.navbar-fixed-top .navbar-brand:hover {
  font-family: 'Comfortaa';
  font-weight: bolder;
  letter-spacing:8px;
}

.navbar .navbar-nav {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  letter-spacing: 2px;
}

.navbar-inverse {
    border-color: transparent;
}
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color:rgb(242, 239, 227);

}

.navbar-inverse .navbar-nav>li>a {
    background-color: rgb(44, 62, 80);
    color: #ffffff;
    font-size: 22px;

}
.navbar-inverse .navbar-nav>li>a:hover {
    color: rgb(44, 62, 80);
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    transition: all .4s ease-in-out;
}

@media(max-width:767px) {
.navbar-fixed-top {
        background-color: rgba(0,0,0,.05);
        padding: 6px 0;
        -webkit-transition: all .7s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition-delay: all .3ms ease-in-out;
}

.navbar-fixed-top .navbar-brand {
        margin-top: 10px;
        font-family: 'Comfortaa';
        font-size: 5em;
        font-weight: bolder;
        color:#1b242d;
        background-color: rgba(198, 191, 159, .5);
        -webkit-transition: all .7s ease-in-out;
        -moz-transition: all .7s ease-in-out;
        transition-delay: all .30s ease-in-out;
}

.navbar-inverse .navbar-toggle {
    border-color:rgb(242, 239, 227);
    background-color: rgb(44, 62, 80);
}

.navbar-inverse .navbar-toggle:hover {
    background-color:rgb(247, 204, 1);
}
.navbar-inverse {
    border-color: transparent;
}
}

.hero {
  background: url("../images/workdesk.jpg") no-repeat scroll center center;
  background-size: cover;
  width: 100%;
  height: 75vh;
}

.section{
    margin-bottom:10px;
    font-size: 50px;
}

.section.success {
    color: #fff;
    background: #d9ad73;
}

@media(max-width:767px) {
    section {
        padding: 25px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

@media(min-width:767px) {
    #portfolio .col-sm-3 {
        padding-right:0;
        padding-left: 0;
    }
}
@media(max-width:767px) {
    #portfolio .col-sm-3 {
        padding-right:0;
        padding-left: 0;
    }
}

#myServices .portfolio-item,
#portfolio .portfoloi-item,
#about .about-item {
    text-align: center;
}
#myServices .portfolio-item p,#about .about-item p {
    text-align: center;
    line-height: 1.5;
    padding-bottom: 5px;
}
#myServices .portfolio-item-Three p, #about .about-item-Three p {
    text-align: center;
    padding-bottom: 5px;
}

#myServices .portfolio-item header, #about .about-item header {
    background: none;
}

.about-item .img-responsive {
    margin: 0 auto;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 0px;
}

#portfolio .portfolio-item .portfolio-link,
#myServices .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}

#myServices .portfolio-link .fa {
    font-size: 10em;
    padding: 10px 10px;
    color:#212121;
    border-radius:6px;
    border-radius:5px 20px 5px;;
    background-color:#F7CC01;
}

#portfolio * {
    z-index: 2;
}

hr.loc-hr {
    border-top: 2px #233140;
    max-width: 25%;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-lg {
    padding: 5px 20px;
    line-height: 1.5;
}

div.contact-btn .btn-outline {
    background: rgb(247, 204, 1);
}

div.btn-outline, div.contact-btn .btn-outline {
    transition: all .3s ease-in-out;
}

div.btn-outline:hover, div.contact-btn .btn-outline:hover {
    background: #fff;
}

.btn-outline {
    margin-top: 20px;
    border: solid 2px #233140;
    border-radius: 20px;
    font-size: 20px;
    color: #233140;
    background:#fff;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #212121;
    background: #233140;
}

/*******btn double line style starts***********/

@media(min-width:767px) {

    div.btn-style {
        position: relative;
        z-index:1;
    }

    div.btn-style .btn-styleLine {
        padding:0 0;
        display: inline-block;
    }

    div.btn-styleLine {
        background: transparent;
    }

    div.contact-btn .btn-styleLine {
        background: transparent;
    }

    .double-line:before {
        content: "";
        border-top: 2px solid #212121;
        position: absolute;
        top:50%;
        left:25%;
        width: 50%;
        z-index: -1;
    }

    .double-line:after {
        content: "";
        border-bottom: 2px solid #212121;
        position: absolute;
        bottom:25%;
        left:30%;
        width: 40%;
        z-index: -1;
    }
}

@media(min-width:1024px) {
    #portfolio .double-line:before {
        left:32%;
        width:35%;
    }

    #portfolio .double-line:after {
        left:35%;
        width: 30%;
    }
}

/*******btn double line style ends***********/


 contact hr.star-primary:after {
    background-color: rgb(247, 204, 1);
}

#contact .form-padding {
    padding:15px 15px;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #1a1a1a;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: rgba(242, 239, 227, .5);
}

form .floating-label-form-group {
    background: rgb(242, 239, 227);
    border: 10px solid #233140;
    border-radius: 6px;
}

footer {
    color: rgba(242, 239, 227, .5);
}

footer h3 {
    margin-bottom: 10px;
}

footer .footer-above {
    padding-top: 10px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 20px;
}

footer .footer-below {
    padding: 5px 0;
    background-color: rgb(27, 36, 45);
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}
